<!DOCTYPE html>
<html>

<head>
    <link href="style.css" type="text/css" rel="stylesheet">

    <title>Rap Roulette Sign Up</title>
</head>

<body>
    <h1>Rap Roulette Sign Up</h1>
    <div class="user_form">
        <form method="post" action="/sign_up">
            <br>
            <input type="text" name="email" placeholder="Enter email..." required>
            <input type="text" name="username" placeholder="Enter user name..." required>
            <input type="password" name="password" placeholder="Enter password..." required>
            <input type="submit" value="Sign Up">
        </form>
    </div>
</body>

</html>