<!DOCTYPE html>
<html>

<head>
    <title>Rap Roulette Sign Up</title>
</head>

<body>
    <h1>Rap Roulette Sign In</h1>
    <div class="user_form">
        <form method="post" action="/sign_in">
            <br>
            <input type="text" name="username" placeholder="Enter user name..." required>
            <input type="password" name="password" placeholder="Enter password..." required>
            <input type="submit" value="Sign In">
        </form>
    </div>
</body>

</html>