<!DOCTYPE html>
<html>

<head>
    <link href="style.css" type="text/css" rel="stylesheet">
    <title>Rap Roulette Sign Up</title>
</head>

<body>

    <div class="top">
        <h1>Rap Roulette Sign In</h1>
    </div>

    <div class="user_form">
        <form method="post" action="/sign_in">
            <br>
            <input type="text" name="username" placeholder="Enter user name..." required>
            <input type="password" name="password" placeholder="Enter password..." required>
            <input class="button" type="submit" value="Sign In">
        </form>
    </div>

    <div class="bottom">

    </div>
</body>

</html>