<!DOCTYPE html>
<html>

<head>
    <link href="style.css" type="text/css" rel="stylesheet">
    <title>Sign in Error</title>
</head>

<body>

    <h1>Sign up Error!</h1>

    <div class="user_message">
        <h3>Sign in failed, </h3>
        <h4>the username or password is not correct</h4>

        <h3>Click the button to return to the sign in page</h3>
        <form method="get" action="/sign_in">
            <br>
            <input type="submit" value="Sign In">
        </form>

        <h3> or click this button to sign up</h3>
        <form method="get" action="/sign_up">
            <br>
            <input type="submit" value="Sign Up">
        </form>
    </div>
</body>

</html>