<!DOCTYPE html>
<html>

<head>
    <title>Sign up Error</title>
</head>

<body>


    <div class="user_message">
        <h3>Click the button to return to the sign in page</h3>
        <h4>This username or email probably already in use</h4>
        <form method="get" action="/sign_up">
            <br>
            <input type="submit" value="Sign up">
        </form>
    </div>
</body>

</html>